<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hedae/Downloads/Selenium">
        <classes>
            <class name="testNG.TestNG">
                <methods>
                    <include name="printTitle"/>
                    <include name="printUrl"/>
                    <include name="Login"/>
                    <include name="placingOrder"/>
                    <include name="orderHandel"/>
                    <include name="dropdownHandel"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>